@media screen and (min-width: 960px) {
  .wrap {
    width: 95%;
  }
  #page-wrap.sidebar {
    left: 0;
  }
  #content .text {
    padding-left: 60px;
    padding-right: 60px;
  }
  #content .text p {
    padding: 0 0 0 70px;
  }
  #content .home {
    padding-left: 120px;
    padding-right: 120px;
  }
  #content .registration {
    padding-left: 50px;
    padding-right: 50px;
  }
  #content .programme > span {
    margin: 0 0 0 110px;
  }
  #content form .pure-g {
    padding: 0 3em 0 0;
  }
}
