.settings
.project
/www/.development
/www/2015/.development
/www/2016/.development
/www/2017/.development
/www/2018/.development
/www/2019/.development
/www/2020/.development
/www/application/2015/config/production/database.php
/www/application/2016/cache/*
!/www/application/2016/cache/index.html
/www/application/2016/logs/*.php
/www/application/2016/config/production/database.php
/www/application/2016/config/production/auth.php
/www/application/2016/config/production/config.php
/www/application/2017/cache/*
!/www/application/2017/cache/index.html
/www/application/2017/logs/*.php
/www/application/2017/config/production/auth.php
/www/application/2017/config/production/config.php
/www/application/2017/config/production/database.php
/www/application/2018/cache/*
!/www/application/2018/cache/index.html
/www/application/2018/logs/*.php
/www/application/2018/config/production/auth.php
/www/application/2018/config/production/config.php
/www/application/2018/config/production/database.php
/www/application/2019/cache/*
!/www/application/2019/cache/index.html
/www/application/2019/logs/*.php
/www/application/2019/config/production/auth.php
/www/application/2019/config/production/config.php
/www/application/2019/config/production/database.php
/www/application/2020/cache/*
!/www/application/2020/cache/index.html
/www/application/2020/logs/*.php
/www/application/2020/config/production/auth.php
/www/application/2020/config/production/config.php
/www/application/2020/config/production/database.php
