.settings
.project
.development
/www/application/2015/config/production/database.php
/www/application/2016/config/production/database.php
/stuff/legacy/app/config/mysql.php
/www/application/2016/cache/*
!/www/application/2016/cache/index.html
/www/application/2016/config/production/auth.php
/www/application/2016/config/production/config.php
