<IfModule mime_module>
AddType application/x-httpd-alt-php53 .php .php5 .phtml
</IfModule>

Options All -Indexes
DirectoryIndex index.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} ^(.+\.less)$ [or]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
